*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    min-height: 100%;
}


body{
    display: flex;
    flex-direction: column;
    font-family: 'montserratregular';
}
main{
    flex-grow: 1;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
}

/*---------------------------section delivery--------------------*/

.delivery{
    background: #212121;
    color: #fff;
}

.delivery .container{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 69px;
}

.delivery h2{
    font-size: 30px;
    margin-bottom: 13px;
}
.delivery h2 span{
    font-weight: normal;
}
.delivery p{
    font-size: 21px;
}

/*---------section man-women---------*/
.man-woman .container{
    display: flex;
    flex-direction: row;
}

.man,
.woman{
    width: 50%;
    padding-top: 60px;
    padding-bottom: 58px;
}

.man-woman h2{
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.man-woman h2 span{
    font-weight: normal;
}
.man-woman a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D7B399;
    width: 80px;
    height: 30px;
    margin-top: 40px;
}

.man-woman a:hover,
.man-woman a:focus{
    background-color: #ff9950;
}

.man{
    background: url(../img/man.png.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.woman{
    padding-left: 35px;
    background: url(../img/women.png.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.man-woman{
    background: linear-gradient(90deg, #F9F6F1 0%, #F9F6F1 50%, #F9E0E0 50%, #F9E0E0 100%);
}


/*----------header-------*/

header{
    min-height: 120px;
    background-color: #F9F6F1;
}

.header-menu{
    min-height: 90px;
}

.section_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
}



.section_wrapper menu{
    display: flex;
    flex-direction: row;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.mainmenu_list{
    display: flex;
    flex-direction: row;
    gap: 35px;
    
}

.basket_list{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

ul{
    list-style: none;
}

.mainmenu_list a{
    text-decoration: none;
    color: #212121;
}

.mainmenu_list a:hover{
    text-decoration: underline;
    text-decoration-color: black;
}

/*-------------------------sectoin new---------------------*/

.new .container{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
}

.new__title{
    font-size: 36px;
    text-transform: uppercase;
}

.new__btn{
    width: 220px;
    height: 55px;
    background: #D7B399;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
}

.new__btn:hover,
.new__btn:focus {
    background-color: #ff9950;
    cursor: pointer;
}

.catalog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;  
    margin-top: 100px;
    margin-bottom: 100px;
}

.card{
    border: 1px solid #D7B399;
    padding: 22px 25px 25px;
    position: relative;
}

.card__title{
    font-size: 14px;
    font-weight: 600px;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 71px;
    margin-right: 71px;
}

.card__price{
    color: #D7B399;
    font-size: 18px;
    font-weight: bold;
}
/* .card:nth-child(2){
    position: sticky;
    top: 200px;
    left: 300px;
} */

.bi-bookmark-heart-fill{
    fill: rgb(253, 103, 103);
    position: absolute;
    top: 12px;
    left: 10px;
    z-index: 10;
    cursor: pointer;
}
.bi-bookmark-heart-fill:hover,
.bi-bookmark-heart-fill:focus{
    fill: red;
}
.pict{
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    
}